<div class="card mt-1">
    <div class="card-block d-flex flex-column justify-content-between">
        <h3 class="p-2 card-title">
            <a href="/location/{{location._id}}">{{location.name}}</a>
            <small>&nbsp;
                <app-rating-stars [rating]="location.rating"></app-rating-stars>
            </small><span class="badge bg-danger float-end">{{location.distance | distance}}</span>
        </h3>
    </div>
    <p class="p-2 address">{{location.address}}</p>
    <div class="d-inline-flex flex-wrap p-2" *ngIf="location.facilities">
        <span class="badge bg-warning p-2 m-2" *ngFor="let facility of location.facilities">{{facility}}</span>
    </div>
</div>