extends layout

include _includes/sharedHTMLfunction

block content
    .row.banner
        .col-12
            h1= pageHeaders.title
                small &nbsp;#{pageHeaders.strapLine}

    .row
        .col-12.col-md-8
            .error= message

    .row
        .col-12.col-md-8
            app-home-list

        .col-12.col-md-4.mt-3
            p.address Loc8r helps you find places to work when out and about.
